[submodule "proxy/masquerade"]
	path = proxy/masquerade
	url = https://github.com/jromwu/masquerade.git
	branch = master
[submodule "speedtest/pyspeedtest"]
	path = speedtest/pyspeedtest
	url = https://github.com/ultraxime/pyspeedtest.git
	branch = master
[submodule "gateway/errant"]
	path = gateway/errant
	url = https://github.com/Ultraxime/errant.git
	branch = master
[submodule "chromium-tools/masque-experiments"]
	path = chromium-tools/masque-experiments
	url = git@github.com:marty90/masque-experiments.git
